.tagContainer {
  display: inline-flex;
  align-items: center;
  gap: 2rem;

  height: fit-content;
  padding: 3rem 4rem;
  border-radius: 3rem;
  border: 0.6rem solid;

  font-size: 8rem;
  font-weight: 400;
  line-height: 1;
}
