.wrapper {
  margin-top: -12rem;
  --ion-background-color: transparent;
  --padding-bottom: 24rem;
}

.headerToolbar {
  --min-height: auto;
  --padding-start: 6rem;
  --padding-end: 6rem;
  --padding-top: 6rem;
  --padding-bottom: 6rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-size: 16rem;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  align-items: center;

  margin-bottom: 16rem;

  color: var(--ion-color-light);
  font-family: Roboto;
  font-size: 14rem;
  font-weight: 600;
  line-height: 17.643rem;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-inline: 32rem;
  color: var(--ion-color-light);
  margin-bottom: 18rem;
}

.selectWrapper {
  & > span {
    color: inherit;
    font-size: 12rem;
    font-weight: 500;
    padding-inline-start: 8rem;
  }
}

.formBtns {
  padding-inline: 32rem;
  color: var(--ion-color-light);
  font-size: 14rem;
  font-weight: 600;
}

.saveDisabled {
  ion-icon {
    color: var(--ion-color-light);
  }
}

.saveActive {
  ion-icon {
    color: var(--ion-color-dark);
  }
}
