.wrapper {
  margin-top: -12px;
  --ion-background-color: transparent;
  --padding-bottom: 24px;
}

.headerToolbar {
  --min-height: auto;
  --padding-start: 6px;
  --padding-end: 6px;
  --padding-top: 6px;
  --padding-bottom: 6px;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  margin-bottom: 16px;

  color: var(--ion-color-light);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.643px;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 32px;
  color: var(--ion-color-light);
  margin-bottom: 18px;
}

.selectWrapper {
  & > span {
    color: inherit;
    font-size: 12px;
    font-weight: 500;
    padding-inline-start: 8px;
  }
}

.formBtns {
  padding-inline: 32px;
  color: var(--ion-color-light);
  font-size: 14px;
  font-weight: 600;
}

.saveDisabled {
  ion-icon {
    color: var(--ion-color-light);
  }
}

.saveActive {
  ion-icon {
    color: var(--ion-color-dark);
  }
}
