.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 8rem;

  span {
    font-size: 16rem;
    font-weight: 700;
    color: var(--ion-color-dark);
  }
}
