.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 10rem;
    font-weight: 600;
    color: var(--ion-color-light);
    font-variant-numeric: tabular-nums;
  }
}
