.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20rem;
  padding-block: 6rem;

  span {
    font-size: 12rem;
    font-weight: 700;
    color: var(--ion-color-dark);
  }
}
