.container {
  width: 100%;
  height: 48rem;
  position: absolute;
  z-index: 1;
  top: calc(98rem + var(--ion-safe-area-top));
  left: calc(100% - 50rem);
  overflow: hidden;

  border-top-left-radius: 16rem;
  border-bottom-left-radius: 16rem;
  background: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);
  backdrop-filter: blur(16px);
}

.toolsContainer {
  display: flex;
  align-items: center;
  padding: 8rem;
  gap: 10rem;
}

.submitAttemptBtn {
  padding: 4rem;
  color: var(--ion-color-primary-contrast);
}

.openAttemptsModalBtn {
  width: 116rem;
  height: 32rem;
  border-radius: 5rem;
  box-shadow: var(--custom-box-shadow-primary);
  background-color: var(--custom-color-decorate);
  color: var(--ion-color-light);
  font-size: 14rem;
}

.modal {
  overflow: hidden;
  --ion-safe-area-top: var(--ion-safe-area-top);
  // --ion-safe-area-bottom: var(--ion-safe-area-bottom);

  .modalToolbar {
    padding: 0;
  }
}

.modalContent {
  flex-grow: 1;
  max-height: calc(100% - 56rem - var(--ion-safe-area-top));
  padding: 20rem;
  overflow: auto;
  padding-bottom: calc(20rem + var(--padding-bottom));

  .accordion {
    margin-top: 16rem;
  }

  .accordionItem {
    border-radius: 5rem;
    background: var(--custom-bg-rgba-secondary);
    box-shadow: var(--custom-box-shadow-primary);
    backdrop-filter: blur(16px);
    margin-block: 4rem;
  }

  .attemptsHeader {
    padding: 8rem 16rem;
    display: flex;
    gap: 4rem;
    justify-content: space-between;

    span {
      font-size: 16rem;
      color: var(--ion-color-light);
    }
  }

  .attemptData {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .finalSubmitAttempt {
    margin: 8rem auto;

    width: 104rem;
    height: 32rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    font-size: 16rem;
    justify-content: center;
    background-color: var(--ion-color-success);
    color: var(--ion-color-primary-contrast);

    span {
      font-size: 14rem;
      color: var(--ion-color-primary-contrast);
    }
  }

  .attemptsContent {
    border-top: 1px solid var(--ion-color-light);
    padding: 8rem 16rem;
    font-size: 14rem;
  }
}
