.loaderWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
  position: absolute;
}

.answersProgress {
  position: fixed;
  top: var(--ion-safe-area-top);
  left: 0;
  width: 100%;
  z-index: 5;

  height: 78rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 62rem 20rem 6rem;
  border-radius: 14rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: var(--custom-box-shadow-secondary);
  backdrop-filter: blur(28rem);

  .answersProgressValue {
    color: var(--ion-color-light);
    font-size: 10rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    flex-shrink: 0;
  }
}

.timerWrapper {
  position: absolute;
  top: var(--ion-safe-area-top);
  z-index: 2;
  width: 100%;
  padding-top: calc(56rem + 22rem);
  background-color: var(--custom-bg-rgba-secondary);
  backdrop-filter: blur(16rem);
  border-radius: 0 0 16rem 16rem;
  line-height: 1;

  animation: slideDown 0.5s ease-out forwards;
}

.contentInnerWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14rem;
}

.testHeader {
  padding: 12rem 18rem 24rem;
  margin-bottom: 16rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;

  border-radius: 0rem 0rem 16rem 16rem;
  box-shadow: var(--custom-box-shadow-primary);

  .title {
    color: var(--custom-content-color-primary);
    text-align: center;
    font-size: 14rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .titleValue {
      color: var(--ion-color-dark);
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  padding-inline: 14rem;
}

.contentWrapper {
  label {
    width: fit-content;
    cursor: pointer;
  }
}

.questionWrapper {
  padding: 12rem;
  border-radius: 14rem;
  background-color: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);

  .questionHeader {
    padding-bottom: 12rem;
    margin-bottom: 12rem;
    border-bottom: 1rem solid var(--ion-color-light);
    display: flex;
    justify-content: space-between;

    .text {
      color: var(--ion-color-dark);
      font-size: 12rem;
      font-weight: 500;
      line-height: 16rem;
      & span {
        color: var(--ion-color-light);
      }
    }
  }
  .score {
    color: var(--ion-color-light);
    text-align: right;
    font-size: 10rem;
    font-weight: 500;
    line-height: 14rem;
    display: block;
    flex-shrink: 0;
  }
}

.bottomNavBtnsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40rem 90rem;
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
}

.testFooter {
  margin: 26rem 0 0;
  padding-block: 16rem calc(48rem + var(--tabbar-offset));
  border-top-left-radius: 16rem;
  border-top-right-radius: 16rem;
  background: var(--custom-bg-rgba-secondary);

  box-shadow: var(--drop-shadow-button-main);
  transition: padding-bottom var(--custom-tr-time-mid) ease;
}

.btnContainer {
  & > div {
    flex-grow: 1;
  }
}

.landingWrapper {
  padding-top: 56rem;
  padding-inline: 16rem;

  h3 {
    font-size: 24rem;
    color: var(--ion-color-dark);
    text-align: center;
  }

  p {
    font-size: 14rem;
    color: var(--ion-color-light);
    text-align: center;

    b {
      color: var(--ion-color-dark);
    }
  }
}

.landingBtnsContainer {
  margin-top: 18rem;
  display: flex;
  justify-content: space-evenly;
}

.landingBtn {
  font-size: 14rem;
  max-width: 138rem;
}

.blockBtn {
  max-width: 152rem;
  margin: 18rem auto;
}

// .modal {
//   overflow: hidden;
//   --ion-safe-area-top: var(--ion-safe-area-top);

//   .modalToolbar {
//     padding: 0;
//   }
// }

// .modalContent {
//   flex-grow: 1;
//   height: calc(100% - 56rem - var(--ion-safe-area-top, 0rem));
//   padding: 20rem;
//   overflow: auto;
//   padding-bottom: calc(20rem + var(--padding-bottom, 0rem));

//   .accordion {
//     margin-top: 16rem;
//   }

//   .accordionItem {
//     border-radius: 5rem;
//     background: var(--custom-bg-rgba-secondary);
//     box-shadow: var(--custom-box-shadow-primary);
//     backdrop-filter: blur(16px);
//     margin-block: 4rem;
//   }

//   .attemptsHeader {
//     padding: 8rem 16rem;
//     display: flex;
//     gap: 4rem;
//     justify-content: space-between;

//     span {
//       font-size: 16rem;
//       color: var(--ion-color-light);
//     }
//   }

//   .attemptData {
//     display: flex;
//     flex-direction: column;
//     gap: 4rem;
//   }

//   .finalSubmitAttempt {
//     margin: 16rem auto 0;

//     width: 104rem;
//     height: 32rem;
//     border-radius: 5rem;
//     display: flex;
//     align-items: center;
//     gap: 10rem;
//     font-size: 16rem;
//     justify-content: center;
//     background-color: var(--ion-color-success);
//     color: var(--ion-color-primary-contrast);

//     span {
//       font-size: 14rem;
//       color: var(--ion-color-primary-contrast);
//     }
//   }

//   .attemptsContent {
//     border-top: 1px solid var(--ion-color-light);
//     padding: 16rem 8rem;
//     margin-inline: 8rem;
//     font-size: 14rem;
//   }
// }

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
