.infoContent {
  --background: var(--custom-bg-rgba-secondary);
  --color: var(--ion-color-light);
  --padding-top: 8rem;
  --padding-bottom: 8rem;
  --padding-start: 8rem;
  --padding-end: 8rem;
  font-size: 10rem;
}
