.papeWrapper {
  --ion-background-color: transparent;
  background: linear-gradient(180deg, #b80101 0%, #920000 88.02%);
}

.contentWrapper::part(scroll) {
  overscroll-behavior: none;
}

.topContentWrapper {
  padding: 0rem 20rem 18rem;
  color: var(--ion-color-primary-contrast);
  position: relative;
  width: 100%;
}

.topScaler {
  display: flex;
  flex-direction: column;
  gap: 18rem;
  padding-bottom: 16rem;
  bottom: calc(100% - 96rem);
  transform: scale(calc(1 - var(--hide-coefficient) * 0.3));
  opacity: calc(1 - var(--hide-coefficient));
}

.pageTitle {
  display: flex;
  gap: 14rem;
  align-items: center;
  position: relative;
  height: 62rem;

  &::after {
    content: "";
    position: absolute;
    left: 56rem;
    top: 0;
    height: 100%;
    width: 1rem;
    border-radius: 4rem;
    background-color: var(--ion-color-primary-contrast);
  }

  .categoryImage {
    display: block;
    width: 52rem;
    height: 52rem;
    flex-shrink: 0;
    position: relative;
  }

  .categoryTitle {
    flex-grow: 1;
    h3 {
      margin: 0;
      font-size: 20rem;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 6rem;
    }

    p {
      font-size: 10rem;
      font-weight: 400;

      b {
        font-weight: 600;
      }
    }
  }
}

.progressWrapper {
  display: flex;
  align-items: center;
  gap: 8rem;

  .progressValue {
    font-size: 10rem;
    font-weight: 600;
    flex-shrink: 0;
  }

  & > div {
    flex-grow: 1;
  }
}

.segment {
  min-height: 36rem;
  padding: 4rem;
  box-shadow: var(--custom-box-shadow-secondary);
  background-color: var(--ion-color-secondary);
  gap: 16rem;
  border-radius: var(--custom--border-radius-primary);
  // transform: translateY(calc(-96rem * var(--hide-coefficient)));

  .segmentBtn {
    --color-checked: var(--ion-color-primary-contrast);
    --color: rgba(var(--ion-color-primary-contrast-rgb), 0.5);
    --indicator-box-shadow: var(--custom-box-shadow-secondary);
    --indicator-color: var(--ion-color-tertiary);

    span {
      font-size: 12rem;
      font-weight: 700;
    }
  }
}

.bottomOuter {
  position: absolute;
  z-index: 10;
  top: 162rem;
  padding-bottom: var(--tabbar-offset);
  width: 100%;
  height: calc(100% - 54rem);
}

.background {
  background: url("../../assets/images/background.png");
  border-top-left-radius: 16rem;
  border-top-right-radius: 16rem;
  // max-height: 100%;
  overflow-y: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--custom-bg-rgba-primary);
  }
}

.controllerWrapper {
  position: relative;
  z-index: 1;
  height: 20rem;
  padding-block: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .controller {
    width: 45rem;
    height: 100%;
    border-radius: 6rem;
    background-color: var(--ion-color-light);
  }
}

.bottomInner {
  height: calc(100% - 20rem);
  padding-inline: 18rem;
  padding-bottom: 18rem;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow: hidden;
}

.innerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16rem;

  color: var(--ion-color-dark);
  text-transform: capitalize;
  font-size: 14rem;
  font-weight: 700;

  span {
    color: var(--ion-color-light);
  }
}

.coursesList {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

div.contentFallbackContainer {
  padding-top: 40rem;

  & > div {
    width: 96rem;
    height: 96rem;
    font-size: 64rem;
  }
}

.refresher {
  --color: var(--ion-color-dark-contrast);
}
