.papeWrapper {
  // background-color: var(--ion-background-color);
  --ion-background-color: transparent;
  background: linear-gradient(180deg, #b80101 0%, #920000 88.02%);
}

.modal {
  bottom: 60px;
}
