.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.inputName {
  color: inherit;
  font-size: 12rem;
  font-weight: 500;
  padding-inline-start: 8rem;
}

.input {
  display: block;
  height: 32rem;

  border-radius: var(--custom--border-radius-primary);
  background: var(--custom-bg-rgba-fourth);
  box-shadow: var(--custom-box-shadow-secondary-inset);
  border: none;
  outline: none;
  padding-inline: 8rem;

  color: var(--ion-color-dark);
  font-size: 16rem;
  font-weight: 500;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: var(--ion-color-primary);
  text-align: right;
  font-size: 10rem;
  font-weight: 500;
}
