.itemWrapper {
}

.link {
  display: block;
  position: relative;
  color: var(--ion-color-light);
  width: 100%;
  padding: 8rem;
  padding-bottom: 12rem;
  background-color: var(--custom-bg-rgba-secondary);
  border-radius: var(--custom--border-radius-primary);
  box-shadow: var(--custom-box-shadow-primary);

  &.row {
    padding: 10rem;
    padding-left: 20rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10rem;
      bottom: 10rem;
      left: 8rem;
      width: 4rem;

      border-radius: var(--custom--border-radius-primary);
      background: var(--custom-bg-rgba-fourth);
      box-shadow: var(--custom-box-shadow-secondary-inset);
    }

    .courseInfo,
    .progress {
      padding: 0;
    }
  }
}

.courseAvatarWrapper {
  position: relative;
  aspect-ratio: 2.24;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem;
  margin-bottom: 8rem;
  border-radius: var(--custom--border-radius-primary);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--custom-bg-rgba-secondary);
    z-index: 1;
  }
  .imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    // background-size: calc(100% + 8rem);
    // background-repeat: no-repeat;
    // background-position: center;
    border-radius: var(--custom--border-radius-primary);

    & div {
      width: calc(100% + 8rem);
      height: calc(100% + 8rem);
      margin: -4rem 0 0 -4rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.courseInfo {
  padding-inline: 4rem;
  color: var(--ion-color-dark);
}

.courseTitle {
  margin: 0;
  margin-bottom: 8rem;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: calc(2.4em);
}

.btnsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {
  padding-inline-start: 4rem;
  color: var(--ion-color-medium);
  font-size: 10rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 8rem;
}
