.questionBody {
  & .imageWrapper {
    width: 100%;

    & > div {
      display: block;
      border-radius: 5rem;
      overflow: hidden;
    }

    & img {
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
}

.answersWrapper {
  padding-top: 16rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.previewImageWrapper {
  max-width: 95%;
  max-height: 100%;
  display: contents;
  img {
    width: auto;
    height: auto;
  }
}
