.outerWrapper {
  font-size: 16px;
  width: 300rem;
  height: 283rem;
  position: relative;
  margin: 0 auto;

  --animation-duration: 2s;
  --animation-delay: 0.8s;
}

.animated {
  .outerRotationCircle {
    animation: rotateForwards var(--animation-duration) ease-out;
  }

  .innerRotationCircle {
    animation: rotateBackwards var(--animation-duration) ease-out;
  }

  .innerCircle {
    animation: fadeIn var(--animation-duration) ease-out forwards;
  }

  .mediaObject {
    animation: slideIn calc(var(--animation-duration) - var(--animation-delay))
      ease-in forwards;
  }

  .mediaObjectShadow {
    animation: fadeIn var(--animation-duration) ease-in forwards,
      slideIn calc(var(--animation-duration) - var(--animation-delay)) ease-in
        forwards;
  }
}

// outer
.outerRotationCircle {
  width: 272rem;
  height: 272rem;
  border-radius: 50%;
  border: 1.5rem solid rgba($color: #7e8ca8, $alpha: 0.1);
  filter: drop-shadow(0px 0px 2.016px rgba(0, 0, 0, 0.12));
  position: absolute;
  top: 0;
  left: 8rem;
  transform-origin: center center;
}

.outerRotationCircle > div,
.innerRotationCircle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-color: #f4f4f4;
  filter: drop-shadow(0 0 6.484rem rgba(0, 0, 0, 0.12));
  border-radius: 50%;

  position: absolute;
}

.businessWrapper {
  top: 29rem;
  left: 6rem;
  width: 42rem;
  background: url("../../assets/images/HomeHero/icon-business.svg");
  background-size: 22rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.clockWrapper {
  top: 0.5rem;
  right: 68rem;
  width: 20rem;
  background: url("../../assets/images/HomeHero/icon-clock.svg");
  background-size: 12rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.itWrapper {
  top: 57rem;
  right: -19.7rem;
  width: 47rem;

  background: url("../../assets/images/HomeHero/icon-it.svg");
  background-size: 31rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.lawWrapper {
  bottom: 30rem;
  right: 6.2rem;
  width: 39rem;

  background: url("../../assets/images/HomeHero/icon-law.svg");
  background-size: 22rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.gradeWrapper {
  bottom: -10.7rem;
  right: 98.2rem;
  width: 24rem;

  background: url("../../assets/images/HomeHero/icon-gradeA.svg");
  background-size: 9rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.socialWrapper {
  bottom: 2rem;
  left: 31.6rem;
  width: 44rem;

  background: url("../../assets/images/HomeHero/icon-social.svg");
  background-size: 25rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.notificationWrapper {
  bottom: 81.3rem;
  left: -7.9rem;
  width: 25rem;

  background: url("../../assets/images/HomeHero/icon-notification.svg");
  background-size: 12rem;
  background-position: center center;
  background-repeat: no-repeat;
}

// inner

.innerWrapper {
  width: 206.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: 33.3rem;
  left: 41.2rem;
  background-color: rgba(185, 185, 185, 0.1);
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1) inset;
  backdrop-filter: blur(22rem);
  border-radius: 50%;
}

.innerRotationCircle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: center;
}

.medWrapper {
  top: 60.5rem;
  left: -5rem;
  width: 17.1rem;
  background: url("../../assets/images/HomeHero/icon-med.svg");
  background-size: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.engineeringWrapper {
  bottom: 64rem;
  right: -5.5rem;
  width: 18.1rem;
  background: url("../../assets/images/HomeHero/icon-engineering.svg");
  background-size: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.innerCircle {
  width: 100.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #eaeaea;
  filter: drop-shadow(0 0 10rem rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

// object

.mediaObjectWrapper {
  height: 248rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 100rem 100rem;
  overflow: hidden;
}

.mediaObject {
  position: absolute;
  inset: 0;
  background-image: url("../../assets//images/HomeHero/happy-student.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  opacity: 1;
}

.mediaObjectShadow {
  position: absolute;
  inset: 0;
  background-image: url("../../assets//images/HomeHero/happy-student.webp");
  filter: blur(2rem);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes rotateForwards {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes rotateBackwards {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}
