.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.inputWrapper {
  flex-grow: 1;
  height: 40rem;
  padding: 4rem;
  border-radius: var(--custom--border-radius-primary);
  background: var(--custom-bg-rgba-fourth);
  box-shadow: var(--custom-box-shadow-secondary-inset);
  backdrop-filter: blur(16rem);
  position: relative;

  &:has(.clearBtn) input {
    padding-right: 32rem;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-inline: 8rem;
    padding-block: 4rem;

    border-radius: var(--custom--border-radius-primary);
    box-shadow: var(--custom-box-shadow-secondary);
    background: rgba(255, 255, 255, 0.1);

    color: var(--ion-color-dark);
    font-size: 10rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &::placeholder {
      color: var(--ion-color-light);
    }
  }

  .clearBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
    width: 32rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    color: var(--ion-color-light);
    background: none;
  }
}

.searchbarIcon {
  font-size: 20rem;
  color: var(--ion-color-primary-contrast);
}
