.content {
  height: 100%;
  padding: 20rem 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-size: 12rem;
    font-weight: 600;
    color: var(--ion-color-light);
    margin-bottom: 8rem;
  }

  p:last-child {
    font-size: 20rem;
  }
}

.link {
  width: 100%;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--ion-color-light);
  color: var(--ion-color-dark);
  border-radius: 5rem;

  span {
    font-family: Roboto;
    font-size: 14rem;
    font-weight: 600;
  }

  ion-icon {
    rotate: 180deg;
    color: var(--ion-color-dark);
    font-size: 18rem;
  }
}
