ion-toolbar .custom-searchbar {
  padding-block: 8rem;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-input.sc-ion-searchbar-ios {
  padding-inline: 6rem;
}

.custom-searchbar .searchbar-input {
  font-size: 16rem;
  color: var(--ion-color-dark);
}

.custom-searchbar .searchbar-search-icon {
  width: 32rem;
  height: 32rem;
  color: var(--ion-color-light);
  top: 50%;
  left: 100%;
  transform: translate(calc(-100% - 6rem), -50%);
}
