.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 33rem;
  gap: 33rem;

  .start, .end  {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .start {
    display: flex;
    justify-content: flex-start;
  }
}
