.modal {
  --height: auto;
  --ion-backdrop-color: var(--custom-bg-rgba-secondary);
  --box-shadow: var(--custom-box-shadow-content);
  --background: var(--custom-bg-rgba-primary);
  --max-height: calc(100% - var(--ion-safe-area-top));
  top: 0;
  bottom: calc(var(--keyboard-height));
  transition: bottom var(--custom-tr-time-min) ease-in-out;
  backdrop-filter: blur(5px);
  --overflow: hidden;

  &::part(content) {
    border-radius: 16rem 16rem 0 0;
  }
}
