.modal {
  --height: auto;
  --ion-backdrop-color: var(--custom-bg-rgba-primary);
  --box-shadow: var(--custom-box-shadow-content);
  --background: var(--custom-bg-rgba-primary);
  --border-radius: 16px;

  top: var(--ion-safe-area-top);
  backdrop-filter: blur(5px);

  &::part(content) {
    backdrop-filter: blur(16px);
  }
}
