.modal {
  --height: auto;
  --ion-backdrop-color: var(--custom-bg-rgba-primary);
  --box-shadow: var(--custom-box-shadow-content);
  --background: var(--custom-bg-rgba-primary);
  --border-radius: 16rem;

  top: var(--ion-safe-area-top);
  bottom: var(--keyboard-offset, 0);
  transition: bottom var(--custom-tr-time-min) ease-in-out;
  // backdrop-filter: blur(5rem);

  &::part(content) {
    backdrop-filter: blur(16rem);
  }
}
