.page {
  background: transparent;
  background-position-y: 50rem;

  ion-header ion-toolbar {
    backdrop-filter: none;
  }
}

.homeContent {
  --background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentWrapper {
  height: 100%;
  overflow-y: auto;
  transform: translateY(calc(var(--keyboard-height) * -1));
  transition: transform var(--custom-tr-time-min) ease-in-out;

  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.hero {
  background-image: url("../../assets/images/map-bakcground.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 32rem;
}

.titleWrapper {
  padding-top: 16rem;
  padding-inline: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--ion-color-dark);

  font-family: Roboto;
  font-weight: 700;
  line-height: 1.2;

  .mainTitle {
    font-size: 40rem;
  }

  .secondaryWrapper {
    font-size: 32rem;
    line-height: 1.1;

    &:has(.symbol) {
      display: flex;
      align-items: center;
    }

    .pointRed {
      color: var(--ion-color-primary);
      text-transform: capitalize;
      font-size: inherit;
    }

    .symbol {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      background: url("../../assets//images/symbo-with-hand.png");
      background-size: cover;
    }
  }
}

.benefits {
  margin: 24rem 16rem 24rem 20rem;
}

.benefitsText {
  font-size: 12rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin: 0 40rem 48rem;
  color: var(--ion-color-dark);
}

.authPanel {
  position: absolute;
  width: 100%;
  height: 125rem;
  bottom: 0;
  padding-bottom: 61rem;

  background-color: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);
  border-radius: 16rem 16rem 0 0;
  backdrop-filter: blur(28px);
}
