.lectureHeader {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--ion-color-light);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  .title {
    color: var(--custom-content-color-primary);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .titleValue {
      color: var(--ion-color-dark);
      //   white-space: nowrap;
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .sectionTitle {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--ion-color-dark);
    margin-top: 0;
    margin-bottom: 8px;
  }

  .sectionContentWrapper {
    text-align: justify;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--ion-color-dark);
  }

  .section[id="text"] {
  }
}
