.lectureHeader {
  margin-bottom: 16rem;
  padding-bottom: 16rem;
  border-bottom: 1rem solid var(--ion-color-light);
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;

  .title {
    color: var(--custom-content-color-primary);
    text-align: center;
    font-size: 14rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .titleValue {
      color: var(--ion-color-dark);
    }
  }
}

.contentInnerWrapper {
  padding: 28rem 18rem var(--content-offset-bottom);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24rem;

  .sectionTitle {
    text-align: center;
    font-size: 14rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--ion-color-dark);
    margin-top: 0;
    margin-bottom: 8rem;
  }

  .sectionContentWrapper {
    text-align: justify;
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16rem;
    color: var(--ion-color-dark);
  }
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: 12rem;

  &:not(:last-child) {
    margin-bottom: 16rem;
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    gap: 8rem;
    color: var(--ion-color-light);
    text-decoration: underline;
  }

  ion-icon {
    font-size: 16rem;
    color: var(--ion-color-dark);
  }

  span {
    font-size: 14rem;
    font-weight: 400;
    font-style: italic;
  }
}

.lectureFooter {
  margin: 24rem -18rem 0;
}

.btnsWrapper {
  & > div {
    flex-grow: 1;
  }
}
