.wrapper {
  width: 80px;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color-main);
  background-color: var(--bg-accent-block);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  position: relative;

  &.open {
    .dropDownWrapper {
      max-height: 200px;
      height: auto;
      opacity: 1;
      padding-block: 10px;
      // transition: opacity var(--transition-time-min) ease-out;
      overflow: auto;
      pointer-events: all;
    }

    .openBtn {
      .chevron {
        transform: rotateZ(0);
      }
    }
  }
}

.borderless {
  border-color: transparent;
}

.value,
.placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.value {
  color: var(--ion-color-dark);
  font-weight: 500;
}

.placeholder {
  color: var(--ion-color-light);
  font-size: 14px;
}

.openBtn,
.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: none;
  aspect-ratio: 1;
  ion-icon {
    font-size: 16px;
    color: var(--ion-color-light);
    transition: fill var(--custom-tr-time-min) ease,
      fill-opacity var(--custom-tr-time-min) ease;
  }
}

.clearBtn:focus,
.clearBtn:hover {
  .clear {
    color: var(--ion-color-primary);
    opacity: 1;
  }
}

.openBtn {
  .chevron {
    font-size: 24px;
    transform: rotateZ(180deg);
    transform-origin: center center;
    transition: transform var(--custom-tr-time-min) ease;
  }
}

.dropDownWrapper {
  max-height: 0;
  opacity: 0;
  padding-block: 4px;
  min-width: 100%;
  max-width: 200%;
  width: 100%;

  pointer-events: none;
  overflow: hidden;

  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 10;

  border-radius: 4px;
  background: var(--ion-color-primary-contrast);
  box-shadow: var(--drop-shadow-button-main);

  transition: opacity var(--custom-tr-time-min) ease,
    max-height var(--custom-tr-time-min) ease;
}

.dropDownList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  .option {
    padding-block: 4px;
    padding-inline: 14px;
    background-color: #fff;
    border-radius: 4px;

    .label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;

      color: var(--ion-color-light);
      font-size: 12px;
      cursor: pointer;
    }

    &.selected {
      background-color: var(--bg-accent-block);

      & .label {
        font-weight: 500;
      }

      &:hover,
      &:focus {
        background-color: var(--bg-accent-block);
      }
    }

    &.disabled {
      cursor: not-allowed;
      .label {
        opacity: 0.5;
      }
    }

    &.highlighted {
      background-color: var(--bg-accent-block);
    }
  }
}
