.wrapper {
  width: 80rem;
  padding: 4rem 8rem;
  border-radius: 5rem;
  border: 1rem solid var(--border-color-main);
  background-color: var(--bg-accent-block);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;

  position: relative;

  &.open-direction-up {
    .chevron {
      transform: rotateZ(180deg);
    }

    &.open .chevron {
      transform: rotateZ(0);
    }

    .dropDownWrapper {
      top: initial;
      bottom: calc(100% + 4rem);
    }
  }
  &.open-direction-down {
    .chevron {
      transform: rotateZ(0);
    }

    &.open .chevron {
      transform: rotateZ(180deg);
    }
  }

  &.open {
    .dropDownWrapper {
      max-height: 200rem;
      height: auto;
      opacity: 1;
      padding-block: 10rem;
      // transition: opacity var(--transition-time-min) ease-out;
      overflow: auto;
      pointer-events: all;
    }
  }
}

.borderless {
  border-color: transparent;
}

.value,
.placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  font-size: inherit;
}

.value {
  color: var(--ion-color-dark);
  font-weight: 500;
}

.placeholder {
  color: var(--ion-color-light);
  font-size: 14rem;
}

.openBtn,
.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: none;
  aspect-ratio: 1;
  ion-icon {
    font-size: 16rem;
    color: var(--ion-color-light);
    transition: fill var(--custom-tr-time-min) ease,
      fill-opacity var(--custom-tr-time-min) ease;
  }
}

.clearBtn:focus,
.clearBtn:hover {
  .clear {
    color: var(--ion-color-primary);
    opacity: 1;
  }
}

.openBtn {
  .chevron {
    font-size: 24rem;
    transform-origin: center center;
    transition: transform var(--custom-tr-time-min) ease;
  }
}

.dropDownWrapper {
  max-height: 0;
  opacity: 0;
  padding-block: 4rem;
  min-width: 100%;
  max-width: 200%;
  width: 100%;

  pointer-events: none;
  overflow: hidden;

  position: absolute;
  top: calc(100% + 4rem);
  left: 0;
  z-index: 10;

  border-radius: 4rem;
  background: var(--ion-color-primary-contrast);
  box-shadow: var(--drop-shadow-button-main);

  transition: opacity var(--custom-tr-time-min) ease,
    max-height var(--custom-tr-time-min) ease;
}

.dropDownList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .option {
    padding-block: 4rem;
    padding-inline: 14rem;
    background-color: #fff;
    border-radius: 4rem;

    .label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;

      color: var(--ion-color-light);
      font-size: 12rem;
      cursor: pointer;
    }

    &.selected {
      background-color: var(--bg-accent-block);

      & .label {
        font-weight: 500;
      }

      &:hover,
      &:focus {
        background-color: var(--bg-accent-block);
      }
    }

    &.disabled {
      cursor: not-allowed;
      .label {
        opacity: 0.5;
      }
    }

    &.highlighted {
      background-color: var(--bg-accent-block);
    }
  }
}
