.insetBtn {
  border-radius: 21%;
  box-shadow: var(--custom-box-shadow-secondary-inset);
  padding: calc(0.125em);
  background: transparent;

  svg {
    width: 14px;
    height: 14px;

    * {
      fill: var(--ion-color-dark);
      fill-opacity: 1;
    }
  }

  &:hover {
    svg * {
      fill: var(--ion-color-primary);
    }
  }

  div {
    width: 100%;
    height: 100%;
    background-color: var(--custom-bg-rgba-secondary);
    border-radius: var(--custom--border-radius-primary);
    box-shadow: var(--custom-box-shadow-thirtiary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--custom-tr-time-min) ease;
  }
}
