.refresher {
  --color: var(--ion-color-dark);
}

.page-refresher {
  .refresher-pulling-text {
    font-size: 14rem;
    color: var(--color);
  }

  .refresher-refreshing-icon ion-spinner {
    width: 24rem;
    height: 24rem;
  }

  .refresher-refreshing-text {
    font-size: 14rem;
  }
}
