.container {
  --start: calc(var(--defaultStart) + var(--ion-safe-area-top, 0px));
  --end: calc(var(--defaultEnd) + var(--ion-safe-area-top, 0px));

  height: calc(100% - var(--end));
  margin-top: var(--end);
  padding-top: calc(var(--start) - var(--end));
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.posterContainer {
  position: fixed;
  top: 0;
  width: 100%;

  img {
    width: 100%;
    height: calc(var(--start) + 8px);
    object-fit: cover;
  }
}

.contentBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/body-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: calc(var(--start));
  z-index: 2;
  border-radius: 16px;

  .label {
    position: absolute;
    top: -12px;
    right: 18px;
    height: 24px;
    max-width: 50%;
    padding-inline: 12px;
    border-radius: 5px;
    background: var(--ion-color-primary);
    box-shadow: 0 0 4.783px 0 rgba(0, 0, 0, 0.12);

    display: flex;
    align-items: center;

    color: var(--ion-color-primary-contrast);
    font-family: Roboto;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.contentContainer {
  --content-min-height: calc(100% + var(--start) - var(--end));
  position: relative;
  z-index: 3;
  min-height: var(--content-min-height);
  background-image: url("../../assets/images/body-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  border-radius: 16rem;
  display: flex;
  flex-direction: column;
}

.label {
  padding: 6rem 12rem;
  border-radius: 5rem;
  box-shadow: var(--custom-box-shadow-secondary);
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);

  font-family: Roboto;
  font-size: 9.5rem;
  font-weight: 700;
  line-height: 10rem;

  position: absolute;
  top: 0;
  right: 18rem;
  transform: translateY(-50%);
}
