.container {
  --start: calc(var(--defaultStart) + var(--ion-safe-area-top, 0px));
  --end: calc(var(--defaultEnd) + var(--ion-safe-area-top, 0px));

  height: calc(100% - var(--end));
  margin-top: var(--end);
  // padding-top: calc(var(--start) - var(--end));
  overflow-y: scroll;
  scroll-behavior: smooth;

  position: relative;
}

.posterContainer {
  position: fixed;
  top: 0;
  width: 100%;

  img {
    width: 100%;
    height: calc(var(--start) + 8px);
    object-fit: cover;
  }
}

.paddingTop {
  height: calc(var(--start) - var(--end));
}

.stickyBg {
  position: sticky;
  top: 0;
  height: 100%;
  width: 100%;
  margin-bottom: calc(-1 * var(--offset-height));
  background-image: url("../../assets/images/body-bg.webp");
  background-size: cover;
  background-position: center -56px;
  background-repeat: repeat-y;
  z-index: 1;
  border-radius: 16rem 16rem 0 0;
}

.contentBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/body-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: calc(var(--start));
  z-index: 2;
  border-radius: 16px;
}

.contentContainer {
  --content-min-height: 100%;
  position: relative;
  z-index: 3;
  min-height: var(--content-min-height);
  border-radius: 16rem;
  display: flex;
  flex-direction: column;
}

.label {
  padding: 6rem 12rem;
  border-radius: 5rem;
  box-shadow: var(--custom-box-shadow-secondary);
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);

  font-family: Roboto;
  font-size: 9.5rem;
  font-weight: 700;
  line-height: 10rem;

  position: absolute;
  top: 0;
  right: 18rem;
  transform: translateY(-50%);
}
