.container {
  height: 100%;
  overflow-y: auto;
}

.top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.top img {
  width: 100%;
  min-height: 250px;
  height: calc(var(--startPosition) + var(--ion-safe-area-top));
  display: block;
  object-fit: cover;
}

.bottom {
  --top: calc(var(--endPosition) + var(--ion-safe-area-top));

  position: sticky;
  z-index: 1;

  top: var(--top);
  height: calc(100% - var(--top));
  margin-top: -10px;
}

.topLabel {
  position: absolute;
  top: -12rem;
  right: 18rem;
  z-index: 2;

  height: 24rem;
  padding-inline: 12rem;
  display: flex;
  align-items: center;

  background-color: var(--ion-color-primary);
  border-radius: var(--custom--border-radius-primary);
  box-shadow: var(--custom-box-shadow-secondary);

  font-family: Roboto;
  font-size: 10rem;
  font-weight: 700;
  color: var(--ion-color-primary-contrast);
}

.bottomBg {
  overflow: hidden;
  position: relative;
  padding-top: 16px;
  min-height: 100%;

  border-radius: 16rem 16rem 0 0;

  background: url("../../assets/images/background.png");

  box-shadow: var(--custom-box-shadow-content);

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--custom-bg-rgba-primary);
    z-index: 0;
  }
}

.contentInner {
  overflow: hidden;
  min-height: max(100%, 500px);
}

.scrollingText {
  min-height: max(100%, 500px);

  padding-bottom: var(--content-offset-bottom);
  color: var(--ion-color-dark);
}
