.pageWrapper {
  --background: transparent;
  --padding-top: 56rem;
  --padding-bottom: calc(18rem + var(--ion-safe-area-bottom));
  --padding-start: 18rem;
  --padding-end: 18rem;
  --color: var(--ion-color-dark);

  &:has(.authPanel) {
    --padding-bottom: calc(143rem + var(--ion-safe-area-bottom));
  }

  .mainInfoBlock,
  .profileData,
  .progressData,
  .certificatesData {
    border-radius: var(--custom--border-radius-primary);
    background-color: var(--custom-bg-rgba-secondary);
    box-shadow: var(--custom-box-shadow-primary);
    // backdrop-filter: blur(16rem);
    margin-bottom: 16rem;
  }

  .certificatesData {
    margin-bottom: 0;
  }

  .authPanel {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    transform: translateY(65rem);
    transition: transform var(--custom-tr-time-max) ease;

    &.shown {
      transform: translateY(0);
    }
  }
}

.mainInfoBlock {
  .topWrapper {
    padding: 16rem 20rem 16rem 124rem;
    margin-bottom: 10rem;
    position: relative;

    .blockLable {
      position: absolute;
      top: 0;
      right: 18rem;
      transform: translateY(-50%);
      width: 80rem;
      height: 24rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--custom--border-radius-primary);
      background-color: var(--ion-color-primary);
      box-shadow: var(--custom-box-shadow-secondary);

      color: var(--ion-color-primary-contrast);
      font-family: Roboto;
      font-size: 10rem;
      font-weight: 700;
    }

    .avatarInner {
      position: absolute;
      top: -28rem;
      left: 14rem;
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        top: -4rem;
        left: -4rem;
        width: calc(100% + 8rem);
        height: calc(100% + 8rem);
        background: linear-gradient(
          to bottom,
          var(--custom-bg-rgba-secondary),
          var(--custom-bg-rgba-secondary) 32rem,
          transparent 32rem
        );
        border-radius: 50%;
        filter: drop-shadow(0 2rem 12rem rgba(0, 0, 0, 0.08));
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        height: 21%;
        background-image: url("../../assets/icons/user-avatar-substract.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .usernameWrapper {
      display: flex;
      flex-direction: column;
      min-height: 40rem;

      .usernameLabel {
        font-size: 10rem;
        font-weight: 400;
        margin-bottom: 4rem;
      }

      .username {
        font-size: 18rem;
        font-weight: 600;
      }
    }
  }

  .achives {
    padding: 0 8rem 16rem;
    display: flex;
    justify-content: space-between;
    // gap: 8rem;

    .achiveItem {
      flex-basis: calc(100% / 3 - (8rem * 2 / 3));
      max-width: calc(100% / 3 - (8rem * 2 / 3));
      padding: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .achiveIcon {
        position: relative;
        font-size: 24rem;
        margin-bottom: 10rem;
        contain: none;

        &::after {
          content: "";
          position: absolute;
          bottom: -6rem;
          width: 18rem;
          height: 1.4rem;
          background-color: var(--ion-color-light);
          left: 50%;
          transform: translateX(-50%);
          border-radius: 30rem;
        }
      }

      .achiveValue {
        font-size: 12rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      .achiveLabel {
        color: var(--ion-color-light);
        font-size: 8rem;
        font-weight: 400;
      }
    }
  }
}

div.profileData {
  background: none;
  box-shadow: none;
  backdrop-filter: none;

  .profileDataHeader {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;

    .mainTitle {
      font-family: Roboto;
      font-size: 14rem;
      font-weight: 700;
    }

    .secondaryTitle {
      color: var(--ion-color-light);
      font-size: 10rem;
      font-weight: 500;
    }
  }

  .profileDetails {
    padding-top: 22rem;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 2rem;
      top: 10rem;
      left: 4rem;
      right: 4rem;
      background-color: var(--ion-color-light);
    }

    .profileDataItem {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .label {
        color: var(--ion-color-light);
        font-size: 12rem;
        font-weight: 500;
      }

      .value {
        font-size: 16rem;
        font-weight: 500;
      }
    }
  }
}

div.progressData {
  display: flex;
  gap: 16rem;
  background-color: transparent;
  box-shadow: none;
  backdrop-filter: none;

  & > div {
    flex: 1;
    border-radius: var(--custom--border-radius-primary);
    background-color: var(--custom-bg-rgba-secondary);
    box-shadow: var(--custom-box-shadow-primary);
    // backdrop-filter: blur(16rem);
  }

  .progressContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .label {
      color: var(--ion-color-light);
      font-size: 8rem;
      font-weight: 500;
    }

    .value {
      font-size: 16rem;
      font-weight: 700;
    }
  }
}

.certificatesData {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 0;

  .certificatesHeader {
    padding: 12rem 8rem 12rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 12rem;
      left: 12rem;
      height: 2rem;
      background-color: var(--ion-color-light);
      border-radius: 10rem;
    }

    .certificatesTitle {
      font-family: Roboto;
      font-size: 14rem;
      font-weight: 700;
    }
  }

  .certificatesList {
    padding-inline: 12rem;
    display: flex;
    flex-direction: column;
    // gap: 19rem;
    padding-bottom: 12rem;

    .certificateItem {
      padding-inline-start: 20rem;
      height: 35rem;
      display: flex;
      align-items: center;
      position: relative;
      color: var(--ion-color-dark);

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 10rem;
        width: 4rem;
        height: 4rem;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: currentColor;
      }
      &:not(:last-child) {
        &:after {
          content: "";
          position: absolute;
          bottom: 0rem;
          left: 0;
          right: 0;
          height: 1rem;
          border-radius: 10rem;
          background-color: var(--ion-color-light);
        }
      }
    }

    .certificateTitle {
      font-size: 14rem;
      font-weight: 400;
    }
  }
}

.cetrificateModalWrapper {
  padding-block: 20rem;

  .certificatesModalHeader {
    margin-inline: 14rem;
    text-align: center;
    padding-bottom: 12rem;
    margin-bottom: 16rem;
    border-bottom: 2rem solid var(--ion-color-light);

    span {
      font-family: Roboto;
      font-size: 14rem;
      font-weight: 700;
      color: var(--ion-color-dark);
    }
  }

  .certificateModalDownload {
    padding-top: 16rem;
    margin-top: 8rem;
    margin-inline: 14rem;
    border-top: 2rem solid var(--ion-color-light);
    display: flex;
    justify-content: center;
    color: var(--ion-color-light);

    button {
      font-family: Roboto;
      font-size: 14rem;
      font-weight: 600;
    }

    .docDownloadIcon {
      font-size: 14rem;
    }
  }
}

div.swiper {
  padding-bottom: 16rem;
  --swiper-pagination-bottom: 0;

  .slide {
    width: auto;
  }

  .customBullet {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    background-color: var(--ion-tab-bar-color);
    box-shadow: var(--custom-box-shadow-secondary-inset);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background-color: var(--ion-color-light);
    }
  }
}

.editDataModal {
  --border-radius: 16rem;
  --background: url("../../assets/images/body-bg.webp"),
    rgba(255, 255, 255, 0.8);
  bottom: max(var(--tabbar-offset), var(--keyboard-height, 0rem));

  &::part(content) {
    background-size: 100% 100%;
  }
}
