.wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-light);
  font-weight: 500;

  .infoWrapper {
    display: flex;
    flex-direction: column;
  }

  .gradeWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .userGrade,
  .maxGrade {
    font-size: 14rem;
    font-weight: 500;
  }

  .userGrade {
    display: block;
    width: 28rem;
    text-align: end;
  }

  .divider {
    font-size: 18rem;
    font-weight: 300;
  }

  .maxGradeLabel {
    font-size: 8px;
    line-height: 1;
    font-weight: 500;
    text-align: end;
    margin-inline-end: 39rem;
    margin-bottom: -1rem;
  }

  .letterIcon {
    font-size: 18rem;
    margin-right: -2rem;
  }
}
