.wrapper {
  flex-basis: calc((100% - 16rem) / 2);
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --background: transparent;
  --border-radius: 5rem;

  &::part(native) {
    flex-direction: column;
  }

  &.completed {
    opacity: 0.5;
  }

  &.row {
    flex-basis: 100%;

    .taskInfo {
      padding: 8rem 12rem 12rem;
      margin-top: 0;
      height: auto;

      .taskTitle {
        height: auto;

        span {
          -webkit-line-clamp: 1;
        }
      }
    }

    .taskProps {
      padding-inline-end: 24rem;
      flex-direction: row;
      gap: 16rem;
      flex-wrap: wrap;

      .taskProp {
        flex: 1;

        &:nth-child(odd) {
          margin-top: -10rem;
        }

        &:nth-child(1) {
          margin-top: 0;
        }
      }
    }
  }
}

.taskPoster {
  width: 100%;
  aspect-ratio: 2.6;
  object-fit: cover;
}

.taskInfo {
  width: 100%;
  height: 108rem;
  margin-top: -10rem;
  background-color: var(--custom-bg-rgba-primary);
  border-radius: var(--custom--border-radius-primary);
  box-shadow: var(--custom-box-shadow-primary);
  backdrop-filter: blur(16rem);
  padding: 6rem 12rem;

  .taskTitle {
    height: 32rem;
    width: 100%;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    overflow: hidden;

    span {
      font-size: 12rem;
      font-weight: 700;
      color: var(--ion-color-dark);
      max-height: 100%;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.taskProps {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  .taskProp {
    display: flex;
    gap: 6rem;
    align-items: center;
  }

  .taskPropIcon {
    flex-shrink: 0;
    font-size: 12rem;
    color: var(--ion-color-medium);
  }

  .taskPropText {
    color: var(--ion-color-medium);
    font-size: 10rem;
    font-weight: 500;
    white-space: nowrap;

    .statusPropValue {
      text-transform: capitalize;
    }

    .completed {
      color: var(--ion-color-success);
      font-size: inherit;
    }

    .active {
      color: var(--ion-color-warning);
      font-size: inherit;
    }
  }
}
