.imageGroup {
  padding-inline: 10rem 28rem;
  margin-bottom: 16rem;
  margin-right: -18rem;
  display: flex;
  gap: 8rem;
  overflow: auto;
  //   position: relative;
  //   z-index: 1;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.groupItem {
  width: 45%;
  flex-shrink: 0;
  flex-grow: 1;
  aspect-ratio: 1.09;

  border-radius: 3rem;
  background: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);
  overflow: hidden;
}

.image {
  width: 100%;
  height: calc(100% - 24rem);
  object-fit: cover;
}

.description {
  height: 24rem;
  font-size: 10rem;
  font-weight: 500;
  color: var(--ion-color-dark);
  text-align: center;
  line-height: 1;
}
