.header {
}

.toolbar {
  --min-height: 56px;
  --border-style: none;
  --padding-start: 20px;
  --padding-end: 14px;

  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: var(--custom-box-shadow-primary);
}

.backBtn {
  --icon-font-size: 20px;
  width: 20px;
}

.title {
  color: var(--ion-color-dark);
  font-size: 14px;
  font-weight: 700;
}

.bellIcon {
  width: 18px;
  height: 20px;
}

.searchIcon {
  width: 22px;
  height: 22px;
}
