.header {
  box-shadow: none;
  height: calc(56rem + var(--ion-safe-area-top));
  border-bottom-left-radius: 16rem;
  border-bottom-right-radius: 16rem;
  // overflow: hidden;
}

.absolute {
  position: absolute;
}

.transparent {
  .toolbar {
    box-shadow: none;
    --background: transparent;
  }
}

.toolbar {
  --min-height: 56rem;
  --border-style: none;
  --padding-start: 14rem;
  --padding-end: 14rem;
  --ion-toolbar-color: var(--ion-color-dark);

  border-bottom-left-radius: 16rem;
  border-bottom-right-radius: 16rem;
  box-shadow: var(--custom-box-shadow-primary);
  backdrop-filter: blur(28rem);

  &.secondary {
    --background: transparent;
    --color: var(--ion-color-primary-contrast);
    --ion-toolbar-color: var(--ion-color-primary-contrast);

    box-shadow: none;
    backdrop-filter: none;

    .title,
    ion-icon {
      color: var(--ion-color-primary-contrast);
    }
  }
}

.buttonsWrapper {
  gap: 8rem;
  min-width: 80rem;
  min-height: auto;

  &[slot="start"] {
    justify-content: flex-start;
  }
  &[slot="end"] {
    justify-content: flex-end;
  }

  ion-button,
  ion-back-button {
    width: 32rem;
    min-width: 32rem;
    min-height: 32rem;
    border-radius: 50%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-icon {
    font-size: 32rem;
  }
}

.backBtn {
  --icon-font-size: 32rem;
  --padding-start: 0;
  --padding-end: 0;
}

.nextIcon {
  transform: rotate(180deg);
}

.title {
  color: var(--ion-color-dark);
  font-weight: 700;
  text-align: center;
  white-space: nowrap;

  &.carousel {
    position: absolute;
    left: 0;
    animation: 10s linear infinite alternate slidein;
  }
}

.titleWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14rem;
  // height: 1.2em;
}

.headerUserWrapper {
  box-sizing: content-box;
  width: 22rem;
  height: 22rem;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  // overflow: hidden;

  // border: 3.2rem solid var(--ion-color-medium-contrast);

  &::after {
    content: "";
    position: absolute;
    inset: -0.8rem;
    border: 1.6rem solid var(--ion-color-medium-contrast);
    border-radius: 50%;
  }

  ion-icon {
    font-size: 22rem;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(calc(-100% + 90rem));
  }
  100% {
    transform: translateX(calc(-100% + 90rem));
  }
}
