.header {
  box-shadow: none;
}

.transparent {
  .toolbar {
    box-shadow: none;
    --background: transparent;
  }
}

.toolbar {
  --min-height: 56px;
  --border-style: none;
  --padding-start: 14px;
  --padding-end: 14px;
  --ion-toolbar-color: var(--ion-color-dark);

  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: var(--custom-box-shadow-primary);
  backdrop-filter: blur(28px);

  &.secondary {
    --background: transparent;
    --color: var(--ion-color-primary-contrast);
    --ion-toolbar-color: var(--ion-color-primary-contrast);

    box-shadow: none;
    backdrop-filter: none;

    .title,
    ion-icon {
      color: var(--ion-color-primary-contrast);
    }
  }
}

.buttonsWrapper {
  gap: 8px;
  min-width: 80px;
  min-height: auto;


  &[slot="start"] {
    justify-content: flex-start;
  }
  &[slot="end"] {
    justify-content: flex-end;
  }

  ion-button, ion-back-button {
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    flex-grow: 0;
    flex-shrink: 0;

    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
  }
  
  .settingsBtn {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

.backBtn {
  --icon-font-size: 20px;
  --padding-start: 0;
  --padding-end: 0;
}

.nextBtnBtn {
  --icon-font-size: 20px;
  --padding-start: 0;
  --padding-end: 0;
}

.nextIcon {
  transform: rotate(180deg);
}

.notificationBtn {
  --padding-start: 0;
  --padding-end: 0;
}

.title {
  color: var(--ion-color-dark);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.bellIcon {
  width: 22px;
  height: 22px;
}

.searchIcon {
  width: 22px;
  height: 22px;
}

.listStyleIcon {
  width: 22px;
  height: 22px;
  color: var(--ion-color-dark);
}

.settingsIcon {
  font-size: 32px;
}

.saveIcon {
  font-size: 20px;
}
