.container {
  --current-progress: 0;

  margin: 0 10px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
}

.controlsContainer {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--custom-tr-time-min) ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: inherit;
  }

  &.fixed {
    opacity: 1;
    pointer-events: inherit;
  }
}

.playbackControls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.22);
    color: var(--ion-color-primary-contrast);
  }

  .skipBtn {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .playPauseBtn {
    width: 48px;
    height: 48px;
    font-size: 22px;
  }
}

.bottomTools {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);

  .timeline {
    width: 100%;
    height: 4px;
    background-color: var(--custom-color-decorate-secondary);
    border-radius: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      right: calc(100% - (var(--current-progress) * 100%));
      height: 100%;
      background-color: var(--ion-color-primary-contrast);
      border-radius: 30px;
    }

    &::after {
      content: "";
      height: 10px;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      right: calc(100% - (var(--current-progress) * 100%));
      transform: translate(50%, -50%);
      border-radius: 50%;
      background-color: var(--ion-color-primary-contrast);
      border-radius: 30px;
    }
  }

  .tools {
    display: flex;
    align-items: center;

    .duration {
      color: var(--ion-color-primary-contrast);
      font-size: 8px;
      font-weight: 600;
      flex-grow: 1;
    }

    .fullscreen {
      background: none;
      font-size: 16px;
      color: var(--ion-color-primary-contrast);
      width: 1em;
      height: 1em;
    }
  }
}
