.fallbackContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 80rem;
  padding-bottom: var(--tabbar-offset);

  ion-icon {
    font-size: 92rem;
    color: var(--ion-color-medium);
    margin-bottom: 42rem;
  }

  p {
    font-size: 14rem;
    font-weight: 400;
    color: var(--ion-color-medium);
    text-align: center;
  }

  .title {
    font-weight: 600;
    margin-bottom: 16rem;
  }
}
