.searchContent {
  --padding-bottom: calc(18rem + var(--tabbar-offset));
  --padding-start: 18rem;
  --padding-end: 18rem;
  --padding-top: 18rem;
}

.searchbarWrapper {
  margin-bottom: 18rem;
}

.resultsDiscription {
  margin-bottom: 18rem;
  .title {
    margin-bottom: 4rem;
  }
}

.searchResultSection {
  margin-bottom: 18rem;
  h3 {
    margin: 0;
    margin-bottom: 16rem;

    span {
      text-transform: capitalize;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }
}

.title {
  font-family: Roboto;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--ion-color-dark);
}

.subtitle {
  color: var(--ion-color-light);
  font-family: Roboto;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.1;
}

.popularCategories,
.popularCourses {
  margin-inline: -18rem;

  .title {
    padding-inline: 18rem;
  }
}

.spinner {
  left: 50%;
  transform: translateX(-50%);
}

.noResults {
  font-family: Roboto;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding: 8rem;
  color: var(--ion-color-dark);
}
