.searchContent {
  --padding-bottom: calc(18rem + var(--tabbar-offset));
  --padding-start: 18rem;
  --padding-end: 18rem;
  --padding-top: 18rem;
}

.searchbarWrapper {
  margin-bottom: 18rem;
}

.searchHistoryWrapper {
  margin-bottom: 24rem;

  .title {
    margin-bottom: 12rem;
  }

  ul li:not(:last-child) {
    margin-bottom: 12rem;
  }

  .historyLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
    width: 100%;
    height: 40rem;

    border-radius: 5rem;
    background: var(--custom-bg-rgba-secondary);
    box-shadow: var(--custom-box-shadow-primary);
    backdrop-filter: blur(16px);

    span {
      font-size: 14rem;
      font-weight: 700;
      color: var(--ion-color-dark);
      position: relative;
      padding-inline-start: 13rem;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 4rem;
        height: 24rem;

        border-radius: 5rem;
        background: var(--custom-bg-rgba-fourth);
        box-shadow: var(--custom-box-shadow-secondary-inset);
      }
    }

    ion-icon {
      font-size: 24rem;
      color: var(--ion-color-light);
      rotate: -90deg;
    }
  }
}

.resultsDiscription {
  margin-bottom: 18rem;
  .title {
    margin-bottom: 4rem;
  }
}

.searchResultSection {
  margin-bottom: 18rem;
  h3 {
    margin: 0;
    margin-bottom: 16rem;

    span {
      text-transform: capitalize;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }
}

.title {
  font-family: Roboto;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--ion-color-dark);
  margin: 0;
}

.subtitle {
  color: var(--ion-color-light);
  font-family: Roboto;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.1;
}

.popularCategories,
.popularCourses {
  margin-inline: -18rem;

  .title {
    padding-inline: 18rem;
  }
}

.spinner {
  left: 50%;
  transform: translateX(-50%);
}

.noResults {
  font-family: Roboto;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding: 8rem;
  color: var(--ion-color-dark);
}
