.oprionsWrapper {
  padding: 0 10rem 16rem;
  border-bottom: 1rem solid var(--ion-color-light);

  & p {
    color: var(--ion-color-light);
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  justify-content: space-between;
}

.right {
  margin-top: 12rem;
}

.selectOptionsWrapper {
  padding: 12rem 10rem;

  & > p {
    margin-bottom: 6rem;
    font-size: 12rem;
  }

  & > ul {
    display: flex;
    align-items: center;
    gap: 16rem;
  }

  .answerOption {
    flex: 1;
    display: flex;
    align-items: center;
    height: 24rem;

   & > span {
      color: var(--ion-color-light);
      font-size: 12rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      flex-shrink: 0;
    }
  }
}
