.introHeader {
  position: absolute;
  box-shadow: none;
  height: calc(56px + var(--ion-safe-area-top));
  border-bottom-left-radius: 16rem;
  border-bottom-right-radius: 16rem;
  overflow: hidden;

  ion-toolbar {
    box-shadow: none;
    --background: transparent;
    --min-height: 56rem;
    --border-style: none;
    --padding-start: 14rem;
    --padding-end: 14rem;
    --ion-toolbar-color: var(--ion-color-dark);

    border-bottom-left-radius: 16rem;
    border-bottom-right-radius: 16rem;
  }

  .headerBg {
    position: absolute;
    inset: 0;
    top: calc(var(--ion-safe-area-top) * -1);
    background-color: var(--ion-background-color);
    box-shadow: var(--custom-box-shadow-primary);
    backdrop-filter: blur(28px);
  }

  .backBtnBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 32rem;
    background-color: var(--custom-bg-rgba-secondary);
    border-radius: 5rem;
  }

  .backBtn {
    --icon-margin-start: 0;
    --icon-margin-end: 0;
  }

  .buttonsWrapper {
    gap: 8rem;
    min-width: 80rem;
    min-height: auto;

    &[slot="start"] {
      justify-content: flex-start;
    }
    &[slot="end"] {
      justify-content: flex-end;
    }

    ion-button,
    ion-back-button {
      width: 32rem;
      min-width: 32rem;
      min-height: 32rem;
      border-radius: 50%;
      overflow: hidden;
      flex-grow: 0;
      flex-shrink: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;

      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --icon-font-size: 32rem;
    }

    ion-icon {
      font-size: 32rem;
    }
  }
}

.content {
  --content-offset-bottom: calc(96rem + var(--tabbar-offset));
}

.courseIntroNavWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-image: url("/src/assets/images/body-bg.webp");
  background-size: cover;
  padding-top: calc(56px + var(--ion-safe-area-top));
  transform: translateY(-100%);
  opacity: 0;
}

.contentInnerWrapper {
  color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
  gap: 32rem;
  padding: 18rem 18rem var(--content-offset-bottom);
}

.contentBlock:not(:last-child) {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: -18rem;
    left: 0;
    border-radius: var(--custom--border-radius-primary);
    background-color: var(--custom-bg-rgba-thirtiary);
    box-shadow: var(--custom-box-shadow-secondary-inset);
  }
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  padding-inline-start: 11rem;
  font-size: 18rem;
  line-height: 1.2;
  font-weight: 700;
  overflow: hidden;
  position: relative;

  &.titlePrimary {
    min-height: 48rem;

    .title {
      line-height: 24rem;
      max-height: 48rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &:before {
    content: "";
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--ion-color-primary);
    border-radius: 26rem;
  }
}

.headerIcon {
  font-size: 52rem;
  flex-shrink: 0;
}

.infoText {
  font-family: Roboto;
  font-size: 12rem;
  font-weight: 400;
  line-height: 16rem;
  text-align: justified;
  margin-bottom: 16rem;
}

.coursePropsList {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-inline: 11rem;
  margin-bottom: 16rem;

  li {
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  .propIcon {
    font-size: 16rem;
  }

  .propName {
    font-family: Roboto;
    font-size: 12rem;
    font-weight: 600;
    width: 64rem;
    color: var(--ion-color-light);
  }

  .propValue {
    font-family: Roboto;
    font-size: 12rem;
    font-weight: 500;
  }
}

.courseSkills {
  padding-inline: 11rem;
  margin-bottom: 16rem;

  .listTitle {
    font-family: Roboto;
    font-size: 14rem;
    font-weight: 600;
    margin-bottom: 6rem;
  }

  ul {
    li {
      padding-inline-start: 8rem;
      font-family: Roboto;
      font-size: 12rem;
      line-height: 16rem;
      font-weight: 400;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 3rem;
        height: 3rem;
        background-color: var(--ion-color-primary);
        border-radius: 1rem;
      }
    }
  }
}

.primaryInfo {
  font-family: Roboto;
  font-size: 12rem;
  font-weight: 600;
  line-height: 16rem;
  text-align: justified;

  U {
    font-family: Roboto;
    font-size: 12rem;
    font-weight: 600;
    line-height: 16rem;
  }
}

.titleMargin {
  margin-bottom: 8rem;
}

.benefitsList {
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-bottom: 16rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  li:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      width: 4rem;
      height: 64rem;
      border-radius: var(--custom--border-radius-primary);
      background-color: var(--custom-bg-rgba-thirtiary);
      box-shadow: var(--custom-box-shadow-secondary-inset);
      position: absolute;
      top: 50%;
      right: -10rem;
      transform: translate(2rem, -50%);
    }
  }

  .icon {
    font-size: 35rem;
    margin-bottom: 6rem;
  }

  .primary {
    font-family: Roboto;
    font-size: 10rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .secondary {
    font-family: Roboto;
    font-size: 8rem;
    font-weight: 400;
  }
}

.devicesImg {
  display: block;
  padding-inline: 16rem;
  width: 100%;
  height: auto;
}

.otherCoursesTitle {
  display: block;
  font-family: Roboto;
  font-size: 16rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 26rem;

  &::after {
    content: "";
    position: absolute;
    bottom: -10rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--ion-color-dark);
  }
}

.coursesList {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.courseCategoryLabel {
  position: absolute;
  top: 0;
  right: 18rem;
  z-index: 2;

  height: 24rem;
  padding-inline: 12rem;
  display: flex;
  align-items: center;

  background-color: var(--ion-color-primary);
  border-radius: var(--custom--border-radius-primary);
  box-shadow: var(--custom-box-shadow-secondary);

  font-family: Roboto;
  font-size: 10rem;
  font-weight: 700;
  color: var(--ion-color-primary-contrast);
}

.bottomBar {
  position: absolute;
  height: calc(56rem + var(--tabbar-offset));
  bottom: 0;
  padding-inline: 30rem;
  padding-bottom: var(--tabbar-offset);
  background-color: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);
  backdrop-filter: blur(28px);
  border-top-left-radius: 16rem;
  border-top-right-radius: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30rem;
  width: 100%;
  z-index: 3;

  .buyCourseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 100%;
    gap: 8rem;
    border-radius: var(--custom--border-radius-primary);
    background-color: var(--ion-color-primary);

    color: var(--ion-color-primary-contrast);

    & > span {
      font-size: 14rem;
      font-weight: 500;
    }

    .buyIcon {
      font-size: 22rem;
    }

    .remove {
      font-size: 32rem;
    }
  }
}
