.segment {
  --color: var(--ion-color-dark);
  --background: transparent;
  --original-gap: 24;
  --original-vw: 375;
  --original-fs: 14;

  padding-inline: 14px;
  padding-block: 18px;
  gap: calc(var(--original-gap) / var(--original-vw) * 100vw);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 14px;
    width: 100%;
    height: 2px;
    background-color: var(--ion-color-dark);
  }
}

.segmentBtn {
  --padding-start: 0;
  --padding-end: 0;
  --color: var(--ion-color-dark);
  --color-checked: var(--ion-color-primary);
  --ripple-color: transparent;

  min-height: min-content;
  padding-bottom: 10px;

  &:first-child {
    margin-left: 18px;
  }
  &:last-child {
    margin-right: 18px;
  }
}

.segmentLabel {
  font-size: calc(var(--original-fs) / var(--original-vw) * 100vw);
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: capitalize;
}
