.segment {
  --color: var(--ion-color-dark);
  --background: transparent;
  height: 50rem;
  padding: 16rem 18rem 12rem;
  gap: 24rem;
  grid-auto-columns: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.segmentBtn {
  --padding-start: 4rem;
  --padding-end: 4rem;
  --color: var(--ion-color-dark);
  --color-checked: var(--ion-color-primary);
  --background-checked: transparent;
  --ripple-color: transparent;

  min-height: 100%;
  padding-bottom: 4rem;
  width: fit-content;
  min-width: initial;
  opacity: 1;
}

.segmentLabel {
  font-family: Roboto;
  font-size: 14rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: capitalize;
}
