.pageContentWrapper {
  --background: transparent;
  --padding-start: 18rem;
  --padding-end: 18rem;
  --padding-bottom: calc(24rem + var(--tabbar-offset));
}

.courseStats {
  padding: 12rem;

  border-radius: var(--custom--border-radius-primary);
  background: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);
  backdrop-filter: blur(16rem);

  .type {
    font-family: Roboto;
    font-size: 14rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--ion-color-dark);
    display: block;
    margin-bottom: 3rem;
  }

  .details {
    .detailsTitle {
      color: var(--ion-color-light);
      font-size: 10rem;
      font-weight: 500;
      display: block;
      margin-bottom: 10rem;
    }

    .statsList {
      display: flex;
      gap: 16rem;
    }

    .statsItem {
      display: flex;
      gap: 8rem;
      flex: 1;
    }

    .statIcon {
      font-size: 16rem;
    }

    .statTextWrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .statLabel {
      color: var(--ion-color-light);
      font-size: 8rem;
      font-weight: 500;
    }

    .statValue {
      font-size: 12rem;
      font-weight: 500;
      color: var(--ion-color-dark);
    }
  }
}

.tasksList {
  padding-block: 16rem;
  display: flex;
  gap: 16rem;
  flex-wrap: wrap;
}

.progressModal {
  --height: 432rem;
  --box-shadow: var(--custom-box-shadow-primary);
  --background: var(--custom-bg-rgba-secondary);
  bottom: 60rem;
  transition: bottom var(--custom-tr-time-min) ease-in,
    backdrop-filter var(--custom-tr-time-min) ease-in,
    background-color var(--custom-tr-time-min) ease-in;

  &.fullHeight {
    bottom: 0;
    backdrop-filter: blur(5rem);
    background-color: var(--custom-bg-rgba-secondary);

    &::part(handle) {
      transform: rotate(180deg);
    }
  }

  &::part(content) {
    padding-top: 28rem;
    backdrop-filter: blur(28rem);
  }

  &::part(handle) {
    height: 8rem;
    background: url("../../../assets/icons/chevron-modal.svg");
    transition: transform var(--custom-tr-time-min) ease-in;
  }

  .modalContent {
    --background: transparent;
    --padding-start: 18rem;
    --padding-end: 18rem;
  }

  .modalHeader {
    display: flex;
    gap: 40rem;
    align-items: center;
    padding-bottom: 16rem;
    margin-bottom: 16rem;
    border-bottom: 1rem solid var(--ion-color-dark);

    .progressWrappper {
      .progressTitle {
        font-family: Roboto;
        font-size: 14rem;
        line-height: 16rem;
        font-weight: 700;
        color: var(--ion-color-dark);
        display: inline-block;
        margin-bottom: 4rem;
      }

      .progressInner {
        display: flex;
        align-items: center;
        gap: 4rem;
        color: var(--ion-color-light);

        .progressLabel {
          font-size: 8rem;
          line-height: 12rem;
          font-weight: 600;
        }
      }
    }

    .examIcon {
      font-size: 22rem;
    }
  }

  .progressList {
    padding-bottom: 16rem;
    li {
      display: flex;
      align-items: center;
      gap: 10rem;

      span {
        color: var(--ion-color-light);
        font-size: 12rem;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:not(:last-child) {
        margin-bottom: 10rem;
      }
    }
  }

  .progressIconOuter {
    width: 22rem;
    height: 22rem;
    padding: 3rem;
    flex-shrink: 0;

    border-radius: 5rem;
    background: var(--custom-bg-rgba-fourth);
    box-shadow: var(--custom-box-shadow-secondary-inset);
    position: relative;

    &.success {
      &:before {
        content: "";
        background-color: var(--ion-color-success);
      }
      .progressIconInner {
        border-color: var(--ion-color-success);
      }
    }

    &.inProgress {
      &:before {
        content: "";
        background-color: var(--ion-color-dark);
      }
      .progressIconInner {
        border-color: var(--ion-color-dark);
      }
    }

    &:before {
      content: "";
      width: 8rem;
      height: 8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;

      border-radius: 1rem;
    }
  }

  .progressIconInner {
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    box-shadow: var(--custom-box-shadow-thirtiary);

    border: 2rem solid transparent;
  }
}
