.pageWrapper {
  position: relative;
  overflow: auto;
  height: calc(100%);
  padding-top: 178rem;

  .poster {
    display: block;
    width: 100%;
    height: 256rem;
    object-fit: cover;
    margin-bottom: calc(-10rem);
    position: fixed;
    top: calc(var(--ion-safe-area-top) * 2);
  }
}

.contentBackground {
  padding-top: 12rem;
  position: sticky;
  overflow: hidden;
  // height: calc(100% + 132rem);

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    top: 12rem;
    background: url("../../assets/images/background.png");
    border-radius: 16rem 16rem 0 0;
  }

  &.backgroundBlured {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      top: 12rem;
      background-color: var(--custom-bg-rgba-primary);
      backdrop-filter: blur(10rem);
      border-radius: 16rem 16rem 0 0;
    }
  }
}

.contentInner {
  padding-inline: 18rem;
  padding-bottom: 82rem;
  padding-top: 28rem;
  height: 100%;
  position: relative;
  z-index: 1;
  box-shadow: var(--custom-box-shadow-content);
  border-radius: 16rem 16rem 0 0;
}

.scroll {
  overflow: scroll;
}

.contenWrapper {
  color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
  gap: 32rem;

  .contentBlock {
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 4rem;
      position: absolute;
      bottom: -18rem;
      left: 0;
      border-radius: var(--custom--border-radius-primary);
      background-color: var(--custom-bg-rgba-thirtiary);
      box-shadow: var(--custom-box-shadow-secondary-inset);
    }
  }
}

.topLabel {
  position: absolute;
  top: 0;
  right: 18rem;
  z-index: 2;

  height: 24rem;
  padding-inline: 12rem;
  display: flex;
  align-items: center;

  background-color: var(--ion-color-primary);
  border-radius: var(--custom--border-radius-primary);
  box-shadow: var(--custom-box-shadow-secondary);

  font-family: Roboto;
  font-size: 10rem;
  font-weight: 700;
  color: var(--ion-color-primary-contrast);
}
