.container {
  --start: calc(var(--defaultStart) + var(--ion-safe-area-top, 0px));
  --end: calc(var(--defaultEnd) + var(--ion-safe-area-top, 0px));

  height: calc(100% - var(--end) - 16px);
  margin-top: calc(var(--end) + 16px);
  padding-top: calc(var(--start) - var(--end) - 16px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-timeline-name: --contentScroll;
  scroll-timeline-axis: vertical;
}

.posterContainer {
  position: fixed;
  top: 0;
  width: 100%;

  img {
    width: 100%;
    height: calc(var(--start) + 8px);
    object-fit: cover;
  }
}

.contentBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/body-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: calc(var(--start));
  z-index: 2;
  border-radius: 16px;

  animation-name: scrollUp;
  animation-timeline: --contentScroll;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-range: 0 calc(var(--start) - var(--end));
  animation-timing-function: linear;

  .label {
    position: absolute;
    top: -12px;
    right: 18px;
    height: 24px;
    max-width: 50%;
    padding-inline: 12px;
    border-radius: 5px;
    background: var(--ion-color-primary);
    box-shadow: 0 0 4.783px 0 rgba(0, 0, 0, 0.12);

    display: flex;
    align-items: center;

    color: var(--ion-color-primary-contrast);
    font-family: Roboto;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.contentContainer {
  position: relative;
  z-index: 3;
  padding-bottom: 98rem;
  min-height: max(100%, 500px);
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc((var(--start) - var(--end)) * -1));
  }
}
