.disabled {
  ion-icon {
    color: var(--ion-color-medium);
  }
}

.content {
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
  position: absolute;

  &.lecture {
    --content-offset-bottom: calc(40px + var(--tabbar-offset, 0));
  }
}
