.answersWrapper {
  padding: 12rem;
  padding-top: 0;
  margin-inline: -12rem;

  display: flex;
  // justify-content: center;
  // padding-inline: 4rem;
  gap: 16rem;
  overflow-x: auto;

  & .imageCard {
    flex-shrink: 0;
    width: 144rem;
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: var(--custom-box-shadow-primary);
    background-color: var(--custom-bg-rgba-secondary);

    & > div {
      width: 100%;
    }

    & img {
      width: auto;
      max-width: 100%;
      width: 144rem;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }

  .input {
    padding: 10rem;
    width: 100%;
  }
}

.previewImageWrapper {
  max-width: 95%;
  max-height: 100%;
  display: contents;
  img {
    width: auto;
    height: auto;
  }
}
