.container {
  margin-bottom: 32rem;
}

.visualContentContainer {
  height: 195rem;
  position: relative;
  margin-bottom: 16rem;
}

.animated {
  .desktop {
    transform: translateY(0);
    opacity: 1;
  }
  .mobile {
    transform: translateY(0);
    opacity: 1;
  }
}

.desktop {
  position: absolute;
  height: 100%;
  top: 0;
  left: 27.2rem;
  right: 60.6rem;
  background-image: url("../../assets/images/home_device_desktop.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(50%);
  opacity: 0.5;
  transition: all 0.5s ease;
}

.mobile {
  position: absolute;
  bottom: -1.2rem;
  height: 154rem;
  left: 246.5rem;
  right: 25.5rem;
  background-image: url("../../assets/images/home_device_mobile.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(50%);
  opacity: 0.5;
  transition: all 0.5s ease 0.3s;
}

.textContainer {
  padding-inline: 18rem;
  color: var(--ion-color-dark);

  h3 {
    font-size: 16rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 19rem;
    position: relative;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      bottom: -7rem;
      left: 50%;
      transform: translateX(-50%);
      width: 20rem;
      height: 3rem;
      border-radius: 27rem;
      background-color: var(--ion-color-primary);
    }
  }

  p {
    font-size: 12rem;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 24rem;

    b {
      font-weight: 700;
    }
  }

  .links {
    display: flex;
    gap: 13.5rem;

    a {
      color: var(--ion-color-dark);
      text-decoration: none;
      height: 32rem;
      padding-inline: 8rem;
      // padding-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1rem solid transparent;

      background: linear-gradient(
          var(--custom-bg-rgba-secondary),
          var(--custom-bg-rgba-secondary)
        ),
        linear-gradient(202.62deg, #ffffff 8.08%, #e7e7e7 90.92%);

      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;

      border-radius: 5rem;

      ion-icon {
        width: 16rem;
        height: 16rem;
        flex-shrink: 0;
      }

      .label {
        display: block;
        padding-left: 0rem;
        font-size: 13.47rem;
        font-weight: 500;
        max-width: 0;
        transition: all var(--custom-tr-time-mid) ease;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
