* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.App {
  // background: var(--custom-primary-lg);
}

/* Custom styles for tab bar */
.custom-tab-bar {
  --background: var(--custom-primary-lg);
  --ion-tab-bar-color: rgba(252, 252, 252, 0.5);
  --color-selected: var(--ion-color-primary-contrast);
  --border: none;

  border-top-left-radius: 16rem;
  border-top-right-radius: 16rem;
  height: 60rem;
  padding-bottom: var(--ion-safe-area-bottom);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  transform: translateY(0);
  transition: transform var(--custom-tr-time-mid) ease;

  // ios apperence bug fix
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);

  ion-tab-button {
    margin-top: calc(var(--ion-safe-area-bottom) / 4);
    position: relative;
    background: var(--custom-primary-lg);
    // opacity: 1;
  }

  &.hidden {
    transform: translateY(100%);
  }

  .custom-tab-icon {
    color: var(--ion-tab-bar-color);
    font-size: 23rem;
    margin-bottom: 4rem;
  }

  ion-label {
    font-size: 10rem;
  }

  .tab-selected .custom-tab-icon {
    color: var(--ion-color-primary-contrast);
  }
}

.menu-button-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// Custom styles for content

.custom-content-wrapper {
  --background: transparent;
}

.custom-toggle-menu {
  width: 20%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: var(--ion-safe-area-bottom);
  opacity: 0.5;

  font-size: 10rem;
  color: var(--ion-color-primary-contrast);

  ion-icon {
    font-size: 23rem;
    margin-bottom: 4rem;
  }
}

//main page

.ion-page.main {
  // background-image: url("./assets/images/body-bg.webp");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22rem;
    transform: translateY(-50%);
    height: calc(100% - 56rem);
    width: 22rem;

    border-top-left-radius: 16rem;
    border-bottom-left-radius: 16rem;
    background: var(--custom-bg-rgba-secondary);

    box-shadow: var(--custom-box-shadow-primary);
    opacity: 0;
    z-index: -1;

    transition: opacity var(--custom-tr-time-min) ease-in-out;
  }
}

// Menu

.ion-page.main.menu-content-open {
  overflow: visible;

  &:before {
    opacity: 1;
  }
  &:after {
    border-radius: 16rem;
  }

  .ion-page {
    border-radius: 16rem;
    overflow: hidden;
  }

  ion-header ion-toolbar {
    backdrop-filter: none;
  }
}

.custom-menu {
  --background: transparent;
  // --background: var(--custom-primary-lg);
  --width: calc(266rem + 12vw);
  contain: none;
}
ion-menu::part(container) {
  contain: none;
}
ion-menu::part(backdrop) {
  opacity: 1;
  background: var(--custom-primary-lg);
  display: block;
}

//modal

ion-modal::part(handle) {
  width: 45rem;
  border-radius: 6rem;
  background-color: var(--ion-color-light);
  top: 8rem;
  height: 4rem;

  &::before {
    padding-block: 8rem;
    width: 45rem;
    height: 4rem;
  }
}

// global, elements

.primaryPage {
  background-image: url("./assets/images/body-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.items-center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

//keyboard
