.wrapper {
  display: flex;
  align-items: center;
  gap: 8rem;
  min-height: 1.8em;

  & * {
    font-size: 14rem;
  }
}

.priceWrapper {
  display: flex;
  gap: 4rem;
  align-items: center;
  color: var(--ion-color-light);

  .dollarSign {
    font-size: 23rem;
    font-weight: 500;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .label {
    margin-inline-start: 1rem;
    font-size: 7rem;
    font-weight: 500;
  }

  .value {
    font-weight: 500;
  }
}

.oldPriceWrapper {
  color: var(--ion-color-medium);

  .value {
    text-decoration-line: line-through;
  }
}
