.content {
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
  --background: transparent;
  --content-offset-bottom: calc(16rem + var(--tabbar-offset));
}

.contentInnerWrapper {
  min-height: 500px;
  height: 100%;
  padding-block: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14rem;
}

.landingWrapper {
  --font-size-small: 10rem;
  --font-size-mid: 12rem;
  --font-size-large: 18rem;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  padding-inline: 18rem;
  padding-bottom: calc(var(--tabbar-offset) + 16rem);

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-mid);

    color: var(--ion-color-dark);
    align-items: center;
    margin-bottom: 32rem;

    h3,
    p {
      text-align: center;
    }

    h3 {
      font-size: var(--font-size-large);
      font-weight: var(--font-weight-semi-bold);
      margin: 18rem 0 0;
    }

    p {
      font-weight: var(--font-weight-semi-bold);
    }

    b {
      font-weight: var(--font-weight-bold);
    }

    .primaryText {
      font-size: var(--font-size-mid);
    }

    .secondaryText {
      font-size: var(--font-size-mid);
    }
  }
}

.btnsWrapper {
  width: 100%;
  padding-inline: 33rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  .landingBtn {
    font-size: 14rem;
    width: 100%;
  }

  p {
    color: var(--ion-color-dark);
    font-size: var(--font-size-small);
    text-align: center;
  }

  .errorMessage {
    font-size: 12rem;
    text-align: center;
    color: var(--ion-color-danger);
  }

  ion-spinner {
    align-self: center;
  }
}

.timerWrapper {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-top: calc(var(--ion-safe-area-top) + 56rem);
  background-color: var(--custom-bg-rgba-secondary);
  backdrop-filter: blur(5rem);
  border-radius: 0 0 16rem 16rem;
}
