.content {
  --padding-bottom: var(--tabbar-offset);

  &.withAuthPanel {
    --padding-bottom: calc(65rem) + var(--tabbar-offset);
  }
}

.categoriesList {
  padding: 0 18rem 16rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.empty {
  height: 100%;
  color: var(--ion-color-medium);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16rem;

  ion-icon {
    font-size: 144rem;
  }

  .emptyMessage {
    padding-inline: 94rem;
    font-size: 14rem;
    font-weight: 600;
    text-align: center;
  }
}
