.authPanel {
  position: absolute;
  width: 100%;
  height: calc(65rem + var(--tabbar-offset));
  bottom: 0;
  padding-bottom: var(--tabbar-offset);

  background-color: var(--custom-bg-rgba-secondary);
  box-shadow: var(--custom-box-shadow-primary);
  border-radius: 16rem 16rem 0 0;
  backdrop-filter: blur(28px);
}

.authButtonsWrapper {
  font-size: 14rem;
  font-weight: 500;
}
.btnIcon {
  font-size: 22rem;
}

.formWrapper {
  padding: 28rem 32rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.formHeader {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 20rem;
    font-weight: 600;
    color: var(--ion-color-dark);
    line-height: 24rem;
    display: inline-block;
    margin-bottom: 8rem;
  }

  .link {
    color: var(--ion-color-light);
    font-size: 12rem;

    .modalReTrigger {
      font-weight: 600;
      color: var(--ion-color-dark);
      // line-height: 32rem;
    }
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16rem;

  & > label:only-child > span:first-child {
    min-width: auto;
  }
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16rem;

  .btnsDivider {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: var(--ion-color-light);
      font-family: Roboto;
      font-weight: 400;
      line-height: 1;
      padding-inline: 10rem;
    }

    &::before {
      content: "";
      flex-grow: 1;
      height: 1rem;
      background-color: var(--ion-color-light);
      border-radius: 30rem;
      box-shadow: var(--custom-box-shadow-primary);
    }
    &::after {
      content: "";
      flex-grow: 1;
      height: 1rem;
      background-color: var(--ion-color-light);
      border-radius: 30rem;
      box-shadow: var(--custom-box-shadow-primary);
    }
  }

  span {
    font-family: Roboto;
    font-size: 14rem;
    font-style: normal;
    font-weight: 600;
  }

  .formBtnIcon {
    font-size: 16rem;
    width: 16rem;
    height: 16rem;
  }
}

.passwordRecoveryBtnWrapper {
  visibility: hidden;
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: height var(--custom-tr-time-min);

  &.show {
    visibility: visible;
    position: relative;
    display: block;
    height: 32rem;
    overflow: visible;
  }
}

.resend {
  color: var(--ion-color-light);
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  b {
    font-weight: 600;
    color: var(--ion-color-dark);
  }
}

.servicesAuth {
  display: flex;
  gap: 33rem;

  .serviceBtn {
    flex-direction: row-reverse;
  }

  .servicesIcon {
    font-size: 22rem;
  }
}
