.wrapper {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rem;
  position: relative;
  padding-bottom: 32rem;

  h4 {
    width: 100%;
    padding: 8rem;
    margin: 0;
    font-size: 12rem;
    font-weight: 600;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0rem;
      right: 18rem;
      left: 18rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: var(--ion-color-light);
    }
  }

  .progressOuter {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-radius: 50%;
    box-shadow: var(--box-shadow-button-inset);

    .progress {
      display: flex;
      border-radius: 50%;
      box-shadow: var(--drop-shadow-button-main);
    }

    .progressInner {
      position: absolute;
      width: 72rem;
      height: 72rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--custom-bg-rgba-primary);
      border-radius: 50%;
      box-shadow: 0rem 0rem 6.176rem rgba(0, 0, 0, 0.08);
    }
  }

  .infoBtnWrapper {
    position: absolute;
    right: 8rem;
    bottom: 8rem;
  }
}
